
/*----------------------------------------------------------------- HEADER Y NAVBAR GENERAL -----------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto:wght@700&family=Rubik:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto:wght@700&family=Rubik:wght@500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(45deg, #85FFBD, #FFFB7D);
    font-family: Arial, sans-serif;
}

header {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div{
    border-bottom: 4px solid #029673;
}

nav li{
    display: flex;
    align-items: center;
    margin-right: 30px; 
}

nav a{
    color: #029673;
    display: flex;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: transform 0.1s;
} nav a:hover{
    color: rgb(56, 55, 55);
    transform: scale(1.06);
}

ul {
    list-style: none; 
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
}

nav a img{
    margin-right: 6px;
}

.usuario div{
    display: flex;
    flex-direction: column;
    border-left: solid 1.5px rgb(56, 55, 55);
    padding-left: 8px;
    border-bottom: none;
}

.usuario a{
    color: rgb(56, 55, 55);
    padding: 3px;
    margin-right: 0;

} .usuario a:hover{
    color: #029673;
    text-decoration: underline;
}

#cerrar-sesion{
    font-size:smaller;
}

#logo {
    max-width: 130px;
    transition: transform 0.2s;
    cursor: pointer;
} #logo:hover{
    transform: scale(1.04);
}

/*----------------------------------------------------------------- PREMIUM -----------------------------------------------------------------*/

main{
    width: 90%;
    height: fit-content;
    padding-left: 4.5%;
    padding-bottom: 2%;
}

.contenedorTarjetas{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    margin-bottom: 20px;
}

.tarjeta{
    flex-basis: 20em;
    display: grid;
    justify-content: center;
    color: #242424;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #535353;
    border-radius: 15px;
    grid-template-rows: 10% 45% 40% 5%;
    transition: transform .1s;
    padding-bottom: 10px;
}

.tarjeta h3{
    padding-left: 2%;
    align-self: center;
    justify-self: center;
}

.tarjeta img{
    border-radius: 15px;
}

.tarjeta p{
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;
}

.tarjeta:hover{
    transform: scale(1.02);
    background-color: #e4e4e4;
    transition: background-color 350ms linear;
}

.tarjeta:hover h3{
    color: #029673;
}

.contenedorInput{
    width: 30%;
    margin-left: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedorInput button{
    width: 10rem;
    height: 3rem;
    border-radius: 7px;
    font-size: 1rem;
}

.botonPrincipal{
    background-color: #0d6efd;
    border: #0d6efd;
    color: #fff;
}

.botonPrincipal:hover{
    background-color: #0b5ed7;
}

.botonSecundario{
    background-color: #979ca3;
    border: #979ca3;
    color: #fff;
}

.botonSecundario:hover{
    background-color: #75797e;
}

.contenedorIntegrantes{
    display: grid;
    justify-content: space-evenly;
    width: 95%;
    margin-left: 2.5%;
    border-style: solid;
    border-width: 1px;
    border-color: #535353;
    grid-template-areas: "integrante1 integrante2"
                         "integrante3 integrante4";
}

.integrante1{ grid-area: integrante1; }

.integrante2{ grid-area: integrante2; }

.integrante3{ grid-area: integrante3; }

.integrante4{ grid-area: integrante4; }

/*----------------------------------------------------------------- PAGAR -----------------------------------------------------------------*/

#articuloPlan{
    padding-top: 1%;
    width: 50%;
    margin-left: 25%;
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

#articuloPlan h3{
    grid-row: 1;
    grid-column: 1/2;
}

#articuloPlan img{
    border-radius: 15px;
    width: 15rem;
    grid-row: 2;
    grid-column: 1;
}

#articuloPlan p{
    grid-row: 2;
    grid-column: 2;
}

#infoPago{
    width: 80%;
    margin-left: 10%;
    font-size: 1rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 2rem;
}

.campoPago{
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.campoPago input{
    width: 18rem;
    height: 2rem;
}