@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto:wght@700&family=Rubik:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto:wght@700&family=Rubik:wght@500;700&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #59A15B;
   
}

/* Estilos del menú lateral */
.menu-lateral {
    display: flex;
    width: 30%;
    height: 100%;
    background-color: #59A15B;
    padding: 20px;
    position: fixed;
    top: 70px;
    z-index: 0;
}

.menu-lateral ul {
    list-style: none;
    padding: 5px ;
}

.menu-lateral ul li {
    margin-bottom: 20px;
}

.menu-lateral ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
   
}
.menu-lateral ul li:hover{
    background-color: #1e2c1f;
}
.menu-lateral ul li a:hover{
    
    color: #d8c6c6;
   
}


/* Estilos del contenido principal */
.contenido-principal {
    display: flex;
   flex-direction: column;
    position: relative;
    left: 300px;
     width: 90%;
     margin-left: -70px;
    padding-top: 100px;
    padding-bottom: 101px;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    padding-right: 60px;
    
   
}


.seccion p{
    font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
}
/* Estilos de las secciones de canciones */
.seccion{
   margin-top: 100px;
    margin-bottom: 300px;
    width: 100%;
    margin-left: 20px;

}
.seccion h2{
    font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-size: 40px;
position: relative;
padding: 20px 50px;
top: 50px;
}


.song-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap; /* Evita que las canciones se envuelvan en múltiples filas */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
   box-sizing: content-box;
    padding-top: 100px;
    padding-left: 60px;
    padding-bottom: 70px;
}


.cancion{
    position: relative;
    display: flex;
    box-sizing: border-box;
   

}
.cancion a{
    text-decoration: none;
}
.cancion img {
  border-radius: 5px;
    max-width: 250px;
    max-height: 250px;
}
.cancion i {
    position: absolute;
    top: 5px;
    right: 10px;
    display: none; /* Oculta el ícono por defecto */
}

.cancion:hover i {
    display: inline-block; /* Muestra el ícono cuando se pasa el cursor sobre .cancion */
}
.titulo-cancion {
    font-size: 16px;
    margin-top: 10px;
}
header{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: end; /* Coloca los elementos al extremo derecho e izquierdo */
    align-items: center; /* Centra verticalmente los elementos */
    position: fixed; /* Mantiene la sección fija en la parte superior */
    top: 0; /* Coloca la sección en la parte superior */
    width: 100%; /* Ancho completo */
    z-index: 1; /* Asegura que esté encima del contenido */
    
    
}
header a h1{
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
font-size: 34px;
position: relative;
right: 1500px;
}
header a{
    text-decoration: none;
    color: #f0f0f0;
}

header img {
    
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Hace que la imagen sea circular */
    position: fixed;
   right: 20px;
    top: 10px;
}
header h3{
   
  position: relative;
  top: 0px;
  right: 100px;
}
header .cerrar{
   color: #f0f0f0;
    position: fixed;
    top: 50px;
    right: 100px;
  
}
#logo{
    position: absolute;
    left: 20px;
    width: 100px;
    height: 60px;
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    text-align: center; /* Centrar el contenido */
    height: 400px;
    position: absolute;
   top: 4000px;
    width: 100%;
   padding-right: 105px;
   
   
}


footer ul {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
}

footer li {
    margin: 5px 0; /* Espaciado entre elementos de la lista */
    font-size: 18px;
}

.reproductor {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    z-index: 1;
}

.boton {
   
    background-color: #333;
    border: none;
    padding: 15px 50px;
    margin: 10px;
     
}

.boton i {
    color: #f0f0f0;
    font-size: 24px; 
    
}
.volumen{
    position: relative;
    left: 600px;
}
#cancion-lateral img{
  
    max-width: 60px;
    max-height: 60px;
    position: absolute;
    left: 10px;
    top: 5px;

}
#cancion-lateral a{
    
    text-decoration: none;
}
#cancion-lateral span{
    
  position: absolute;
  left: 80px;
  top: 30px;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 54.25em){
    
    .menu-lateral{
        width: 20%;
        height: 100%;
        z-index: -1;
    }
    .contenido-principal{
      margin-left: -160px;
    }
    .song-list{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
        
    }
    .cancion{
        display: flex;
        justify-content: flex-start;
        position: relative;
        bottom: 50px;
        margin-bottom: 70px;
        
    }
    footer{
        position: static;
        width: 100%;
       padding-right: 165px;
    }
   .boton{
   
    background-color: #333;
    border: none;
    padding: 30px 20px;
    margin: 5px;
    position: relative;
    left: 50px;
   }
    .boton i{
       
        font-size: 14px; 
    }
    #cancion-lateral img{
  
        max-width: 50px;
        max-height: 50px;
    }
    #cancion-lateral span{
        top: 60px;
        left: 10px;
    }
    .volumen{
        position: relative;
        left: 120px;
        
    }
}