.masEscuchada{
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #029673, rgb(56, 55, 55));    
}
#titulo{
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 28px;
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: whitesmoke;
    background: linear-gradient(to right, #029673, rgb(56, 55, 55));
}
#reproducida{
    margin: 0;
    background: linear-gradient(to right, #029673, rgb(56, 55, 55));
    color: whitesmoke;
    font-size: 12px;
    padding-right: 50px;
    padding-bottom: 10px;
    display: flex;
    justify-content: end;

}
.escuchada-img-a a{
    cursor: pointer;
    text-decoration: none;
}
.escuchada-img-a img{
    display: flex;
    justify-content: center;
}
.escuchada-img-a img, .escuchada-img-a a{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    color: whitesmoke;
}
.conjunto{
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    justify-content: start;
}
.conjunto a, .conjunto img{
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-top: 20px;
}
.conjunto a{
    padding-top: 7px;
    padding-bottom: 20px;
    color: #029673;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
.conjunto a:hover, .escuchada-img-a a:hover{
    font-weight: bolder;
    color: black;

}
h2,h3{
    font-size: larger;
    padding-left: 20px;
}
.lista i{
    position: relative;
    bottom: 195px;
    left: 60px;
    color: goldenrod;
}

.escuchada-img-a i{
    position: relative;
    bottom: 275px;
    left: 82px;
    color: goldenrod;
}

