main{
    width: 90%;
    height: fit-content;
    padding-left: 4.5%;
    padding-bottom: 2%;
}

#articuloPlan{
    padding-top: 1em;
    width: 50%;
    margin-left: 25%;
    display: grid;
    column-gap: 1em;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

#articuloPlan h3{
    grid-row: 1;
    grid-column: 1/2;
}

#articuloPlan img{
    border-radius: 1em;
    width: 15em;
    grid-row: 2;
    grid-column: 1;
}

#articuloPlan p{
    grid-row: 2;
    grid-column: 2;
}

#infoPago{
    width: 80%;
    margin-left: 10%;
    font-size: 1rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 2rem;
}

.campoPago{
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.campoPago input{
    width: 18rem;
    height: 2rem;
}

.contenedorInput{
    width: 30%;
    margin-left: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedorInput button{
    width: 10rem;
    height: 3rem;
    border-radius: 7px;
    font-size: 1rem;
}

.botonPrincipal{
    background-color: #0d6efd;
    border: #0d6efd;
    color: #fff;
}

.botonPrincipal:hover{
    background-color: #0b5ed7;
}

.botonSecundario{
    background-color: #979ca3;
    border: #979ca3;
    color: #fff;
}

.botonSecundario:hover{
    background-color: #75797e;
}

@media screen and (max-width:52em){ /*Tablet*/
    header {
        padding-left: 1.0625em;
        padding-right: 1.0625em;
    }

    nav li{ margin-right: 1.59375em; }

    nav a img{ margin-right: 0.31875em; }
    
    .usuario div{ padding-left: 0.425em; }
    
    .usuario a{ padding: 0.159375em; }
    
    #logo { max-width: 6.90625em; }
    
    #articuloPlan{
        padding-top: 1em;
        width: 90%;
        margin-left: 5%;
        display: grid;
        column-gap: 1em;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 4fr;
    }
    
    #articuloPlan h3{
        grid-row: 1;
        grid-column: 1/2;
    }
    
    #articuloPlan img{
        border-radius: 1em;
        width: 15em;
        grid-row: 2;
        grid-column: 1;
    }
    
    #articuloPlan p{
        grid-row: 2;
        grid-column: 2;
    }
    
    .campoPago{
        width: 100%;
    }
    
    .campoPago input{
        width: 20rem;
        height: 2rem;
    }
    
    .contenedorInput{
        width: 60%;
        margin-left: 20%;
        padding-top: 13%;
        padding-bottom: 13%;
    }
}

@media screen and (max-width:26em){ /*Celu*/
    body{
        width: 184%;
    }
    
    header {
        padding-left: 0.57375em;
        padding-right: 0.57375em;
    }

    nav li{ margin-right: 0.860625em; }

    nav a img{ margin-right: 0.172125em; }
    
    .usuario div{ padding-left: 0.2295em; }
    
    .usuario a{ padding: 0.0860625em; }
    
    #logo { max-width: 3.729375em; }
    
    #articuloPlan{
        padding-top: 1em;
        width: 90%;
        margin-left: 5%;
        display: grid;
        column-gap: 1em;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr 4fr;
    }
    
    #articuloPlan h3{
        grid-row: 1;
        grid-column: 1/2;
    }
    
    #articuloPlan img{
        border-radius: 1em;
        width: 15em;
        grid-row: 2;
        grid-column: 1;
    }
    
    #articuloPlan p{
        grid-row: 2;
        grid-column: 2;
    }
    
    .campoPago{
        width: 100%;
    }
    
    .campoPago input{
        width: 20rem;
        height: 2rem;
    }
    
    .contenedorInput{
        width: 60%;
        margin-left: 20%;
        padding-top: 13%;
        padding-bottom: 13%;
    }
}